.row {
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar ul{
    font-family: 'Oswald', sans-serif;
}

.navbar-brand{
    font-family: 'Lobster', cursive;
    font-size: 2em;
}

.online {
    background-color: #300032;
    color: navajowhite;
}

.offline {
    background-color: #c43235;
    color: navajowhite;
}

.not-exist {
    background-color: #e6e6e8;
}

.logo-style {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    border: 3px solid #e1e1e6;
}

.user-status,
.display-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.online a {
    color: seagreen;
}

.offline a {
    color: #300032;
}

#app-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
    position: relative;
    border-radius: 5px;
    background-color: beige;
    text-align: center;
}

#fcc-users{
    font-family: 'Oswald', sans-serif;
}



@media (min-width: 768px) {
    .user-status,
    .display-name {
        line-height: 50px;
        height: 50px;
    }

    #fcc-users{
        font-size: 1.5em;
    }
}